.btn {

    &,
    &:link, &:visited {
      text-transform: uppercase;
      text-decoration: none;
      padding: 25px 45px;
      display: inline-block;
      border-radius: 50px;
     // margin: 4rem 0;
      /* 2nd way of transition */
      transition: all .2s;
      position: relative;
      animation-name: moveInbutton;
      animation-duration: 1.5s; 
    // CHange for the button
    border:none;
    cursor:pointer;
    font-size:1.5rem;
    
    }
    
    &:hover
     {
      transform: translatey(-4px);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); 
      &::after {
        transform: scaleX(1.5) scaleY(1.5);
        opacity: 0;
        /* sets to invisible */ }
}
    
    &:active,
    &:focus {
      outline:none;
      transform: translate(-1px);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5); }
    
    &-white {
      background-color:$color-white;
      color: $color-grey-dark;
      &::after {
        background-color: $color-white; }
      /* :link is a psuedo-class
  special state of the selector */
    
    }
    
    &-green {
      background-color:$color-primary;
      color: $color-grey-dark;
      &::after {
        background-color: $color-primary; }
      /* :link is a psuedo-class
    special state of the selector */
    
    }
    &::after {
      content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 100px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all .4s; }
    
    
    
    
      &-animated {
      animation-name: moveInbutton ease-in;
      animation-duration: .9s;
      animation-delay: .2s;
      animation-fill-mode: backwards;
      /* 0% anumation will be loaded before the anumatioon starts */ }
    

  }
  .button-text{

    &:link,&:visited{
      font-size:1.6rem;
      //font-size: thing that is coming many time just make it a variable so we can uset again and agian
      color:$color-primary;
      display:inline-block;
      text-decoration:none;
      border-bottom:1px solid $color-primary;
      padding: 3px;
      transition:all .2s;
      //border-radius: 100px;
    }





    &:hover{
     
      background-color:$color-primary;
      color:$color-white;
      box-shadow:0 1rem 2rem rgba($color-black, .4);
      transform:translatey(-2px);

    }
    &:active{
      box-shadow:0 .5rem 2rem rgba($color-black, .3);
      transform:translate(0px);



    }
  }
  